@model Game

@{
    ViewData["Title"] = "Reversi";
}

<form asp-action="Delete" asp-controller="Games" asp-route-id="@Model.GameID">
    <input type="hidden" asp-for="GameID" />
    <input type="submit" value="Leave game room" class="btn btn-danger" />
</form>

<h1>Room: @Model.Omschrijving</h1>


<div id="player1"></div>
<div id="player2"></div>
<p id="AanDeBeurt"></p>

<!--
    <div id="catPic" style="float:right; margin-left: 150px;"></div>
-->

<div id="speelBord" style="float: left"></div>
<canvas id="aantalBezet" height="300vw" width="500vw"></canvas>
<canvas id="aantalVeroverd" height="300vw" width="500vw"></canvas>

<script src="~/js/app.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/style.min.css" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/handlebars.min-v4.7.3.js"></script>
<script src="~/js/templates.js"></script>
<script src="~/js/vendor.js"></script>

<div id="success"></div>

<div id="feedback-danger" class="alert alert-danger" role="alert" style="display:none; position: fixed; top: 200px; width: 600px;">

</div>

<script>
    $(function () {
        "use strict";
        var aanDeBeurt;
        var speler = '@Model.Speler.Kleur';
        var connection = new signalR.HubConnectionBuilder().withUrl("/api/spel").build();

        connection.on("ReceiveGameData", function (speler, cellId, result) {
            Game.updateBoard(result, speler, cellId);
            if (speler == "Wit") {
                aanDeBeurt = "Zwart"
            }
            if (speler == "Zwart") {
                aanDeBeurt = "Wit";
            }
            Game.setTitle(aanDeBeurt);
            //Game.processData();
        });

        connection.on("ReceiveSpelers", function (result) {
            var spelers = JSON.parse(result);
            if (typeof spelers[1] != "undefined") {
                var div1 = document.getElementById("player1");
                var div2 = document.getElementById("player2");
                if (spelers[1][1] == "1") {
                    div2.textContent = "Player Wit: " + spelers[1][0];
                } else if (spelers[1][1] == "2") {
                    div2.textContent = "Player Zwart: " + spelers[1][0];
                }
                if (spelers[0][1] == "1") {
                    div1.textContent = "Player Wit: " + spelers[0][0];
                } else if (spelers[0][1] == "2") {
                    div1.textContent = "Player Zwart: " + spelers[0][0];
                }
            } else {
                var div1 = document.getElementById("player1");
                div1.textContent = "Player Wit: ";
                var div2 = document.getElementById("player2");
                div2.textContent = "Player Zwart: " + spelers[0][0];
            }
        });

        connection.on("ReceivePlayState", function (result) {
            let data = JSON.parse(result);
            if (data[0] == "Pas") {
                const widget = new FeedbackWidget('feedback-danger');
                widget.show('Geen zet meer mogelijk, player ' + data[1] + ' is nu aan de beurt!', 'danger');
                setTimeout(function () { widget.hide(); }, 3000);
            }
           
            Game.setTitle(data[1]);
        });

        Game.createBoard().then(function () {
            connection.start().then(function () {
                Game.init('production');
                //Update de namen van spelers wanneer een tweede speler joined
                const beurtUrl = window.location.origin + "/api/spel/beurt/" + id;
                Game.Data.get(beurtUrl).then(r => {
                    aanDeBeurt = JSON.parse(r);
                    if (aanDeBeurt == 2) { aanDeBeurt = "Zwart" } else if (aanDeBeurt == 1) { aanDeBeurt = "Wit" }
                    Game.setTitle(aanDeBeurt);
                }).then(function () {
                    Game.getSpelers().then(r => {
                        playState();
                        connection.invoke("SendSpelers", r).catch(function (err) {
                            return console.error(err.toString());
                        });
                    })
                })

                //Check of spel is afgelopen of dat iemand een beurt moet overslaan
                const playState = function () {
                    let playStateUrl = window.location.origin + "/api/spel/playstate/" + id;
                    Game.Data.get(playStateUrl).then(r => {
                        console.log(r);
                        connection.invoke("SendPlayState", r).catch(function (err) {
                            return console.error(err.toString());
                        });
                    })
                }
               

                //Plaatst een fiche en update de game state
                $(".cell").on("click", function () {
                        if (aanDeBeurt == speler) {
                            Game.doeZet(speler, this.id).then(r => {
                                let result = JSON.parse(r);
                                if (!result) { }
                                else {
                                    connection.invoke("SendGameData", speler, this.id, r).catch(function (err) {
                                        return console.error(err.toString());
                                    });
                                    playState();
                                }
                            })

                        } else {
                            const widget = new FeedbackWidget('feedback-danger');
                            widget.show('Jij bent niet aan de beurt!', 'danger');
                            setTimeout(function () { widget.hide(); }, 1000);
                        }

                });
            }).catch(function (err) {
                return console.error(err.toString());
            });
        });





    });

</script>
